<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <link th:href="@{/style.css}" rel="stylesheet">
    <link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet">
    <!--<script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}"></script>-->
    <script th:src="@{/webjars/chart.js/4.4.9/dist/chart.umd.js}"></script>
    <title>Smart Budget</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<header th:fragment="header" class="pb-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Smart Budget</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href="@{/}">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categorizations}">Categorizations</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<footer th:fragment="footer">
    <p>Smart Budget. Hill Apps. 2025.</p>
</footer>
</body>
</html>